/* about section */
.about-section {
    /* background-color: #212121; */
    background-color: #111;
    width: 100%;
    min-height: 100vh; /*gives it that equal height for all sections*/
    display: flex;
    align-items: center;
    border-top: 2px solid rgb(230, 230, 230);
}

.about-container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    /* background-color: #111; */
}

.about-title {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 2rem;
    color: rgb(230, 230, 230);
    text-align: left;
  }
  
  .about-description {
    font-size: 1.3rem;
    line-height: 1.7;
    color: rgb(230, 230, 230);
    text-align: left;
  }
  
  @media (max-width: 768px) {
    .about-container {
      padding: 2rem 1rem;
    }

    .about-description {
      font-size: 1.05rem;
    }
  }

@media (max-width: 768px) {
  .about-section {
    padding: 2rem 0.5rem;
  }
  .about-title {
    margin-bottom: 1.2rem;
    margin-top: -1.2rem;
  }
  .about-content {
    flex-direction: column;
    gap: 1.2rem;
    align-items: center;
  }
  .about-text {
    font-size: 1.05rem;
    padding: 1rem 0.7rem;
    text-align: center;
  }
}